* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
  color: #292e33;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 60px auto 1em;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2;
}

h5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #555c66;
  margin: 0;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.6;
}

a, a:visited, a:active {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

.button {
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}

.black-button, .page_works_button, .page_introduction_button {
  color: white;
  background-color: black;
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px auto 0 0;
  padding: 10px 30px;
}
.black-button:hover, .page_works_button:hover, .page_introduction_button:hover {
  background-color: #ec563d;
}

.shape_circle_1 {
  width: 75px;
  height: 75px;
  background-color: #ec563d;
  border-radius: 50%;
  margin: 0 auto 0 0;
}

.page_header {
  position: relative;
  display: block;
  justify-items: center;
  align-items: center;
}

.page_header_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
  width: 340px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .page_header_layout {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .page_header_layout {
    width: 940px;
  }
}

.page_header_logo {
  margin: 22px auto 0 0;
}
.page_header_logo #page_header_logo {
  width: 100%;
  height: 100%;
}

nav {
  width: auto;
  margin: -32px 0 22px auto;
}

#menu_icon {
  fill: #ec563d;
  height: 2em;
  min-width: auto;
}

.page_introduction {
  background-color: #e0e5eb;
  background-image: url(../images/gray_bg.jpg);
  display: grid;
}
.page_introduction_container {
  display: grid;
  margin-left: auto;
  width: calc((100% - 1140px) / 2 + 1140px);
}
@media only screen and (min-width: 768px) {
  .page_introduction_container {
    grid-template-columns: 1.1fr 1.9fr;
  }
}
.page_introduction_layout {
  display: inline-block;
  align-self: center;
  padding: 30px 40px;
  margin: 0;
}
.page_introduction_button {
  margin-bottom: auto;
}
.page_introduction_image {
  object-fit: cover;
  width: 80%;
  margin-left: auto;
}
.page_introduction_image_container {
  display: flex;
  margin: 0;
}
@media only screen and (min-width: 998px) {
  .page_introduction_title {
    font-size: 6rem;
  }
}

.page_profile_layout {
  margin-bottom: 60px;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 20px;
}
.page_profile_title {
  margin-top: 60px;
  font-size: 4rem;
}
@media only screen and (min-width: 768px) {
  .page_profile_title {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .page_profile_description {
    text-align: center;
  }
}
.page_profile_picture {
  width: 294px;
  height: 294px;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .page_profile_picture {
    width: 374px;
    height: 374px;
  }
}
.page_profile_details > p {
  line-height: 2.2;
}
.page_profile_socials {
  display: flex;
  height: 24px;
  width: 91px;
  margin: 30px auto 0 0;
}
.page_profile_socials > a {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .page_profile_layout {
    max-width: 1100px;
    margin-inline: auto;
    margin-inline: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
  }
  .page_profile_title {
    grid-row: 1;
    grid-column: 2;
  }
  .page_profile_description {
    grid-row: 2;
    grid-column: 2;
  }
  .page_profile_about_me {
    grid-row: 3;
    grid-column: 1;
  }
  .page_profile_about_me > p {
    line-height: 2;
  }
  .page_profile_picture {
    grid-row: 3;
    grid-column: 2;
    width: 200px;
    height: 200px;
    margin-top: 60px;
  }
  .page_profile_details {
    grid-row: 3;
    grid-column: 3;
  }
}
@media only screen and (min-width: 768px) {
  .page_about_layout {
    width: calc((100% - 720px) / 2 + 720px);
    margin-left: auto;
  }
}
@media only screen and (min-width: 998px) {
  .page_about_layout {
    width: calc((100% - 920px) / 2 + 920px);
    margin-left: auto;
  }
}
.page_about_image {
  width: 340px;
  margin-inline: auto;
  text-align: center;
}
@media only screen and (min-width: 568px) {
  .page_about_image {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .page_about_image {
    width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .page_about_image {
    width: 920px;
  }
}
.page_about_article, .page_about_subtitle {
  line-height: 2;
  max-width: 340px;
}
@media only screen and (min-width: 568px) {
  .page_about_article, .page_about_subtitle {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .page_about_article, .page_about_subtitle {
    max-width: 720px;
  }
}
@media only screen and (min-width: 998px) {
  .page_about_article, .page_about_subtitle {
    max-width: 920px;
  }
}
.page_about_grid {
  display: grid;
  gap: 30px;
  max-width: 900px;
  padding: 0 20px;
  margin-top: -60px;
}
.page_about_contacts {
  grid-row: 1;
  max-width: fit-content;
  color: white;
  background-color: #ec563d;
  display: grid;
  gap: 20px;
  padding: 30px 20px;
  font-size: 1.25rem;
}
.page_about_contacts > a {
  color: white;
}
.page_about_contacts > p {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .page_about_grid {
    grid-template-columns: auto auto;
    margin: 20px 0;
  }
  .page_about_contacts {
    grid-column: 2;
    margin-top: -120px;
    padding: auto 20px;
    align-items: center;
  }
}

.page_what {
  background-color: #e0e5eb;
  text-align: center;
}
.page_what_layout {
  padding: 1px;
  max-width: 1100px;
  margin-inline: auto;
}
.page_what_title {
  margin: 60px auto 0;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.page_what_grid {
  display: grid;
  gap: 40px;
  max-width: 1140px;
  margin: 60px auto;
}
.page_what_description {
  margin: 20px 0;
  font-style: italic;
}
.page_what_circle {
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  padding: 13px;
  color: white;
  background-color: #ec563d;
  margin: 0 auto 0 0;
}
.page_what_icon {
  fill: white;
}
.page_what_item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.page_what_list {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .page_what_title {
    font-size: 4rem;
  }
  .page_what_grid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 998px) {
  .page_what_grid {
    grid-template-columns: auto auto auto;
  }
}

.page_works_layout {
  max-width: 1100px;
  margin-inline: auto;
}
.page_works_rectangle {
  background-color: #ec563d;
  width: 260px;
  height: 2525px;
  margin: 60px auto 0;
}
.page_works_gallery {
  width: 340px;
  height: 1929px;
  margin-top: -2467px;
  margin-inline: auto;
  display: grid;
}
.page_works_gallery img {
  width: 100%;
  object-fit: cover;
}
.page_works_container {
  background-color: white;
  padding: 30px 20px 50px;
  margin-bottom: 140px;
}
.page_works_content {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .page_works_rectangle {
    height: 1300px;
    margin-left: 200px;
  }
  .page_works_gallery {
    grid-template-columns: auto auto;
    gap: 30px;
    width: 685px;
    height: 1055px;
    margin-top: -1210px;
  }
  .page_works_gallery img {
    width: 100%;
    height: 295px;
    object-fit: cover;
  }
  .page_works_container {
    display: block;
    width: 435px;
    margin-top: -85px;
    margin-left: auto;
    position: relative;
  }
}
@media only screen and (min-width: 998px) {
  .page_works_rectangle {
    height: 1062px;
    margin-left: 370px;
  }
  .page_works_gallery {
    grid-template-columns: auto auto auto;
    margin-top: -970px;
    height: 631px;
  }
}

.page_quotes {
  background-color: #e0e5eb;
  text-align: center;
  margin-top: 60px;
}
.page_quotes img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: #ec563d;
  border-width: 6px;
  border-style: solid;
}
.page_quotes p {
  width: auto;
  margin-inline: auto;
}
@media only screen and (min-width: 998px) {
  .page_quotes p {
    width: 747px;
  }
}
.page_quotes svg {
  height: 30px;
  width: 30px;
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel {
  position: relative;
  min-height: 500px;
  width: 340px;
}
.carousel * {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}
.carousel ol,
.carousel li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel_viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.carousel_slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #e0e5eb;
}
.carousel_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -100%;
  }
  98% {
    left: -100%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@media (hover: hover) {
  .carousel_content {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel_slide:last-child .carousel_content {
    animation-name: tostart, snap;
  }
}
.carousel:hover .carousel_content,
.carousel:focus-within .carousel_content {
  animation-name: none;
}

.carousel_navigation_button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel_prev,
.carousel_next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.page_footer_contact {
  background-color: #292e33;
  color: white;
}
.page_footer_contact svg {
  height: 36px;
  width: 36px;
}
.page_footer_contact_container {
  width: 340px;
}/*# sourceMappingURL=style.css.map */