@import "colors";
@import "breakpoints";

.page_header{
    position: relative;
    display: block;
    justify-items: center;
    align-items: center;
}

.page_header_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80px;
    width: 340px;
    margin: 0 auto;

    @include breakpoint(medium){
        width: map-get($map: $sheet-width, $key: medium);
    }

    @include breakpoint(large){
        width: map-get($map: $sheet-width, $key: large);
    }
}

.page_header_logo{
    margin: 22px auto 0 0;
    #page_header_logo{
        width: 100%;
        height: 100%;
    }
}

nav{
    width: auto;
    margin: -32px 0 22px auto;
}

#menu_icon {
    fill: $page-orange;
    height: 2em;
    min-width: auto;
}

