@use "colors";
@import "breakpoints";
@import "general";
@import "header";
@import "footer";

.page_introduction {
    background-color: $page-lighter-gray;
    background-image: url(../images/gray_bg.jpg);
    display: grid;
    padding: 30px 40px 0;

    // tablet breakpoint
    // @include breakpoint(medium){
    //     //content
    // }

    &_layout {
        display: grid;
    }

    &_button {
        @extend %black-button;
    }

    &_image {
        background-image: url(../images/man.jpg);
        background-position: 50% 50%;
        background-size: cover;
        min-width: 100%;
        min-height: 364px;
        overflow: visible;
        margin: 0;
        padding: 30px;
    }
}

.page_profile {

    &_layout {
        margin-bottom: 60px;
    }

    &_picture {
        width: 294px;
        height: 294px;

        @include breakpoint(medium){
            width: 374px;
            height: 374px;
        }

        border-radius: 50%;
    }

    &_details > p {
        line-height: 2.2;
    }

    &_socials {
        display: flex;
        height: 24px;
        width: 91px;
        margin: 30px auto 0 0 ;



        >a{
            margin-right: 10px;
        }
    }
}

.page_about {
    &_image{
        width: 340px;

        @include breakpoint(medium){
            width: 540px;
        }
    }
}