@use "colors";
@import "breakpoints";
@import "general";
@import "header";
@import "footer";

.page_introduction {
    background-color: $page-lighter-gray;
    background-image: url(../images/gray_bg.jpg);
    display: grid;

    // tablet breakpoint
    // @include breakpoint(medium){
    //     //content
    // }

    &_layout {
        display: grid;
        padding: 30px 40px 0;
        margin: 0;
    }

    &_button {
        @extend %black-button;
    }

    &_image {
        background-image: url(../images/man.jpg);
        background-position: 50% 50%;
        background-size: cover;
        min-width: 100%;
        min-height: 364px;
        overflow: visible;
        margin: 0;
        padding: 30px;
        margin-top: 30px;
    }
}

.page_profile {

    &_layout {
        margin-bottom: 60px;
    }

    &_picture {
        width: 294px;
        height: 294px;

        @include breakpoint(medium){
            width: 374px;
            height: 374px;
        }

        border-radius: 50%;
    }

    &_details > p {
        line-height: 2.2;
    }

    &_socials {
        display: flex;
        height: 24px;
        width: 91px;
        margin: 30px auto 0 0 ;
        >a{
            margin-right: 10px;
        }
    }
}

.page_about {
    &_image {
        width: 340px;

        @include breakpoint(medium){
            width: 540px;
        }
    }

    &_article {
        line-height: 2;
    }

    &_grid {
        display: grid;
        gap: 30px;
        padding: 0 20px;
        margin-top: -60px;
    }

    &_contacts {
        grid-row: 1;

        color: white;
        background-color: $page-orange;
        display: grid;
        gap: 20px;
        padding: 30px 20px;
        font-size: 1.25rem;
        >a{
            color: white;
        }
        >p{
            margin: 0;
        }
    }
}

.page_what {
    background-color: $page-lighter-gray;
    text-align: center;

    &_layout {
        padding: 1px;
    }

    &_title {
        margin: 60px auto 0;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &_grid {
        display: grid;
        gap: 40px;
        margin: 60px 0;
    }

    &_description {
        margin: 20px 0;
        font-style: italic;
    }

    &_circle {
        display: block;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        padding: 13px;
        color: white;
        background-color: $page-orange;
        margin: 0 auto 0 0;
    }

    &_icon {
        fill: white;
    }

    &_item {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
    }

    &_list{
        text-align: left;
    }
}

.page_works{

    &_rectangle {
        background-color: $page-orange;
        width: 260px;
        height: 2525px;
        margin-top: 60px;
        margin-inline: auto;
    }

    &_gallery {
        width: 340px;
        height: 1929px;
        margin-top: -2467px;
        margin-inline: auto;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &_container {
        background-color: white;
        padding: 30px 20px 50px;
        margin-bottom: 140px;
    }

    &_content {
        margin-bottom: 40px;
    }

    &_button {
        @extend %black-button
    }
}

.page_quotes{
    background-color: $page-lighter-gray;
}